{% extends "base.html" %}
{% block title %}Readings{% endblock %}
{% block main %}
    <H2 class="text-center"><strong>All Readings</strong></H2>
    <hr>
    {% for reading in readings %}
        <div class="panel panel-default col-md-8 col-md-offset-2">
        <h4 class="panel-heading">
            <a href="{{ url_for('readings.show_reading', id=reading.id) }}">{{reading.name}}</a>
        </h4>
        <div class="panel-body">
        {{ reading["text"] }}
        </div>
        </div>
    {% else %}
        <li class="list-group-item">No reading content found</li>
    {% endfor %}
{% endblock %}
