   {% extends "base.html" %}
{% block title %}All Readings in DB{% endblock %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">All Readings</div>
        <div class="panel-body">
            <p>This is a temporary display of all the available readings. Eventually we will need to implement plans and scheduling what readings are available.</p>
        </div>
        <ul class="list-group">
        {% for reading in readings %}
            <li class="list-group-item">
                <a href="{{ url_for('readings.show_reading', id=reading.id) }}">{{reading.name}}</a>
            </li>
        {% else %}
            <li class="list-group-item">No reading content found</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
