<html>
{% extends "base.html" %}

{% block title %}Individual Reading Page{% endblock %}

{% block main %}
<h2>Individual Reading Page</h2>

<div id="introinfo">
    <h2>Introductory Paragraph and Info Goes here</h2>
    <p>"Welcome to the Individual Reading Page! Select the Scripture passage - associated media will be displayed upon request.</p>
</div>

<div id="video">
    <p>video information goes here, a caption, perhaps?</p>
</div>

<div id="music">
    <p>music element goes here...</p>

</div>

{% endblock %}







</html>