{% extends "base.html" %}

{% block title %}Reading - {{reading.name}}{% endblock %}

{% block main %}
<h1>{{reading.name}} - <small>{{ reading.text }}</small></h1>
<hr>
<br>
<div class="row">
    <div class="col-md-6 panel-default panel">
    {% for verse in verses %}
        <h3 class="panel-heading">
            {{ verses[verse].reference|safe }}
        </h3>
        <div class="panel-body">
            {{verses[verse].content|safe}}
        </div>
    {%  endfor %}
    </div>

    <div class="panel panel-default col-md-offset-7">
        <div class="panel-heading">All Content</div>
        <ul class="list-group">
        {% for content in contents %}
            <li class="list-group-item">
                <tr>
                    <td><strong>{{content.name}}</strong></td>
                    <td>{{ content.content }}</td>
                </tr>
                </li>
        {% else %}
            <li class="list-group-item">No content found</li>
        {% endfor %}
        </ul>
    </div>
</div>

<a class ="btn btn-default" href="{{ url_for('readings.add_passages', id=reading.id) }}" role="button">Add More Passages to This Reading</a>
<a class ="btn btn-default" href="{{ url_for('readings.add_content_to_reading', id=reading.id) }}" role="button">Add More Content to This Reading</a>
<a class ="btn btn-default" href="{{ url_for('readings.edit_show_reading', id=reading.id) }}" role = "button">Edit Reading</a>
{% include "posts/posts-list.html" %}

{% endblock %}
