{% extends 'base.html' %}

{% set xlation_abbr = translation.attribution.translation %}
{% set xlation_name = translation.attribution.translation_name %}

{% block title %}{{ xlation_name }}{% endblock %}

{% block main %}
    <h2 class="text-center">Books of the Bible ({{ xlation_name }})</h2>
    <ul>
    {% for book in translation.books %}
        <p class="text-center"><a href="{{ url_for('scripture.get_book_info', xlation=xlation_abbr, book_osis=book.osis) }}">{{ book.display }}</a></p>
    {% endfor %}
    </ul>
{% endblock %}

