{% extends "base.html" %}
{% block title %}Center for Scripture Engagement - User Profile{% endblock %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
            <p>My Notifications...</p>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">My Plans</div>
        <div class="panel-body">
            <p>My Subscribed Plans</p>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Update Account Information</div>
        <div class="panel-body">
            <p>Account Information</p>
        </div>

    </div>


{% endblock %}

