{% extends "base.html" %}
{% block title %}Center for Scripture Engagement - User Profile{% endblock %}
{% block main %}
    <h2>User: {{ user.first_name }} {{ user.last_name }}</h2>
    
    <div class="panel panel-default">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
            <p>My Notifications... future development</p>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">My Plans</div>
        <div class="panel-body">
            <p>My Subscribed Plans - pull from DB and list...</p>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Update Account Information</div>
        <div class="panel-body">
            <p>Account Information - pull user info from DB</p>
        </div>

    </div>


{% endblock %}

