{% extends "base.html" %}
{% block title %}Edit Plans{% endblock %}
{% block main %}
    <H2 class="text-center"><strong>All Editable Plans</strong></H2>
    <hr>
    {% for plan in plans %}
        <div class="panel panel-default col-md-8 col-md-offset-2">
        <h4 class="panel-heading">
            <a href="{{ url_for('plans.edit_show_plan', id=plan.id) }}">{{plan.name}}</a>
        </h4>
        <div class="panel-body">
            {{ plan["description"] }}
        </div>
        </div>
    {% else %}
        <li class="list-group-item">No editable plans found</li>
    {% endfor %}
{% endblock %}