{% extends "base.html" %}
{% block title %}All Plans in DB{% endblock %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>All Plans</strong>
        <a href="{{ url_for('plans.add_reading_to_plan') }}">Add Readings</a>
        <a href="{{ url_for('plans.edit_plans') }}">Edit Plans</a>
        </div>
        <div class="panel-body">
            <p>This is a temporary display of all the available plans.</p>
        </div>
        <ul class="list-group">

        {% for plan in plans %}
            <li class="list-group-item">
                <a href="{{ url_for('plans.show_plan', id=plan.id) }}">{{plan.name}}</a>
            </li>
        {% else %}
            <li class="list-group-item">No plans found</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}