{% extends "base.html" %}

{% block title %}Plan - {{plan.name}}{% endblock %}

{% block main %}
<h2>{{plan.name}}</h2>
    <p><a href="{{ url_for('plans.edit_show_plan', id=plan.id) }}">edit plan</a>
    <p><a href="{{ url_for('plans.add_reading_to_plan', id=plan.id) }}">Add Readings</a></p>
    <p>Creation Time:{{plan.creation_time}}</p>

<p>{{plan.description}}</p>

<ul>
    {% for reading in readings %}
        <li>
            <a href="{{ url_for("readings.show_reading", id=reading["id"]) }}">{{ reading["name"] }}</a>
        </li>
    {% else %}
        <li>No readings associated with plan</li>
    {%  endfor %}
</ul>

{% endblock %}