{% extends "base.html" %}

{% block title %}Plan - {{plan.name}}{% endblock %}

{% block main %}
<h2 class="text-center">{{plan.name}} - <small>{{ plan.description }}</small></h2>
    <p class="col-md-offset-2">Created: {{plan.creation_time|strftime}}</p>
    {% for reading in readings %}
        <div class="panel panel-default col-md-8 col-md-offset-2 row">
        <h4 class="panel-heading">
            <a href="{{ url_for("readings.show_reading", id=reading["id"]) }}">{{ reading["name"] }}</a>
        </h4>
        <div class="panel-body">
            {{ reading["text"] }}
        </div>
        </div>
        <br>
    {% else %}
        <li>No readings associated with plan</li>
    {%  endfor %}
    <br>
    <a class="btn btn-default row col-md-offset-2" href="{{ url_for('plans.edit_show_plan', id=plan.id) }}" role="button">Edit Plan</a>
    <a class="btn btn-default row col-md-offset-1" href="{{ url_for('plans.add_reading_to_plan', id=plan.id) }}" role="button">Add Readings</a></p>



{% endblock %}