{% extends "base.html" %}

{% block title %}Group - {{group.name}}{% endblock %}

{% block main %}
<h2 class="text-center"><strong>{{group.name}} </strong></h2>
    <hr>
<p> Created: {{group.creation_time|strftime}}</p>
    <div class="panel panel-default col-md-6">
        <div class="panel-heading"><h5> Group Members </h5></div>
        {% for user in users %}
            <a href="{{ url_for("users.profile", user_id=user.user_id) }}">{{ user.first_name }}</a>
        {% else %}
            <br>
            <p>No users associated with this group</p>
        {%  endfor %}
    </div>
    <div class="panel panel-default col-md-offset-7">
        <div class="panel-heading"><h5>Description</h5></div>
        <div class="panel-body"> {{ group.description }} </div>
    </div>
    <a class="btn btn-default col-md-offset-1 row" href="{{ url_for('groups.add_user_to_group', id=group.id) }}" role="button">Add User to Group</a>
{% include "posts/posts-list.html" %}
{% endblock %}
