{% extends "base.html" %}
{% block title %}All groups in DB{% endblock %}
{% block main %}
    <H2 class="text-center"><strong>All Groups</strong></H2>
    <hr>
    {% for group in groups %}
        <div class="panel panel-default col-md-8 col-md-offset-2">
        <h4 class="panel-heading">
        <a href="{{ url_for('groups.show_group', id=group.id) }}">{{group.name}}</a>
        </h4>
        <div class="panel-body">
            {{ group["description"] }}
        </div>
        </div>
    {% else %}
        <li class="list-group-item">No groups found</li>
    {% endfor %}
{% endblock %}