{% extends "base.html" %}
{% block title %}All groups in DB{% endblock %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>All Groups</strong>
        </div>
        <div class="panel-body">
            <p>This is a temporary display of all the available groups.</p>
        </div>
        <ul class="list-group">

        {% for group in groups %}
            <li class="list-group-item">
                <a href="{{ url_for('groups.show_group', id=group.id) }}">{{group.name}}</a>
            </li>
        {% else %}
            <li class="list-group-item">No groups found</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}