{% extends "base.html" %}

{% block title %}Group - {{group.name}}{% endblock %}

{% block main %}
<h2>{{group.name}}</h2>
    <p><a href="{{ url_for('groups.add_user_to_group', id=group.id) }}">Add User to Group</a>
    <p>Creation Time: {{group.creation_time|strftime}}</p>

<p>{{group.description}}</p>

<ul>
    {% for user in users %}
        <li>
        <!-- need to fix syntax -->
            <a href="{{ url_for("users.first_name", id=user["first name"]) }}">{{ user["username"] }}</a>
        </li>
    {% else %}
        <li>No users associated with this group</li>
    {%  endfor %}
</ul>

{% endblock %}