{% extends "base.html" %}
{% block title %}Edit Content{% endblock %}
{% block main %}
    <H2 class="text-center"><strong>All Editable Content</strong></H2>
    <hr>
    {% for content in content %}
        <div class="panel panel-default col-md-8 col-md-offset-2">
        <h4 class="panel-heading">
            <a href="{{ url_for('content.edit_show_content', id=content.id) }}">{{content.name}}</a>
        </h4>
        <div class="panel-body">
        {{ content["description"] }}
        </div>
        </div>
    {% else %}
        <li class="list-group-item">No editable content found</li>
    {% endfor %}
{% endblock %}