{% extends "base.html" %}

{% block title %}Content - {{content.name}}{% endblock %}

{% block main %}
<h2 class="text-center"><strong>{{content.name}}</strong></h2>
<hr>
    <p>Creation Time: {{content.creation_time|strftime}}</p>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5> Content Description </h5>
    </div>
    <div class="panel-body">
        {{content.description}}
    </div>
</div>
<a class="btn btn-default" href="{{ url_for('content.edit_show_content', id=content.id) }}" role="button">edit content</a>

{% endblock %}