{% extends "bootstrap/base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %}Scripture Engagement{% endblock %}

{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
	{{super()}}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
{% endblock %}

{% block navbar %}

    {{nav.frontend_top.render(renderer="defaultNav")}}

{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
		{{utils.flashed_messages(messages)}}
{%- endif %}
{%- endwith %}
<div class="container">

	<div class="row main">
		<div class="col-md-8">
			{% block main %}{% endblock %}
		</div>
	</div>

	{% block footer %}
		<footer>
			<hr>
			<p>Taylor University Scripture Engagement Team Orange</p>
		</footer>
	{% endblock %}
</div>
{% endblock %}

